@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #997070;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 5px 25px rgba(1 1 1 /7c0%);
}

.logo{
    text-decoration: none;
    color: #F8F8FF;
    font-weight: 700;
    font-size: 2.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.navigation_links a{
    text-decoration: none;
    color: #F8F8FF;
    padding-left: 30px;
    font-weight: 500;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.navigation_links a:hover{
    color: #7E354D;
    text-decoration: underline;
}
section{
    padding: 100px 200px;
    background-color: #F4DEBE;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/gredup.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color:#997070;
    font-size: 1.4em;
    font-weight: 500;
    margin-left: 130px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main h2 span {
    display: inline-block;
    margin-top: 30px;
    color:transparent;
    font-size: 3em;
    font-weight: 600;
    margin-left: 130;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*-webkit-text-stroke: 1px #7E354D;*/
    background-image: linear-gradient(#7E354D, #7E354D);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
}
@keyframes backcolor{
    100%{
        background-position: 0 0;
    }
}

.main h3 {
    color:#7E354D;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 130px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-btn {
    color:#7E354D;
    background-color:#997070;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-left: 130px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color:#ccc;
    transform: scale(1.1);
}

.social-icons a {
    color:#7E354D;
    font-size: 1.7em;
 padding-left: 130px;

}

.title{
    display:flex;
    justify-content: center;
    color: #997070;
    font-size: 2.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-bottom: 30px;
}
    
.content{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}
.card{
    background-color: #F8F8FF;
    width: 15em;
    box-shadow: 0 5px 25px rgba(1 1 1 /50%);
    border-radius: 5px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
transform: scale(1.1);
}
 .card img{
    width:100%;
    
}


.info h3{
    display:flex;
    justify-content: center;
    color: #997070;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
}
.info p{
    color:#997070;
    text-align: center;
    font-size: large;
}
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: url(images/gredn.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.contact .cont {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .cont {
    flex-direction: column;
  }
}
.contact .cont form {
  flex-basis: 70%;
}
.contact .cont form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .cont form .main-input:focus {
  outline: none;
}
.contact .cont form textarea.main-input {
  height: 200px;
  
}
.contact .cont form input[type="submit"] {
    color:#7E354D;
    background-color:#997070;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-right: 150px;
    transition: 0.7s ease;
}
.main-heading p{
    font-size:x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: #7E354D;
}

 .contact .cont form input[type="submit"]:hover
 {background-color:#ccc;
    transform: scale(1.1);
}
footer {
  background-color: #FFF3EC;
  color: #666;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  justify-content: center;
  position: relative;
  height: 200px;
  box-shadow: 0 5px 25px rgba(1 1 1 /80%);
 
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #7E354D;
    margin: 0;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
.footer img{
    display: block;
  margin: auto;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}